<!-- @format -->

<footer class="glass shifted-down">
	<span> &copy; <%= new Date().getFullYear() %> Reflections &mdash; All rights reserved.</span>
	|
	<a href="/privacy">Privacy Policy</a>
	|
	<a href="/terms">Terms of Service</a>
</footer>
