<!-- @format -->

<footer class="glass shifted-down">
	&copy; <%= new Date().getFullYear() %> Template App &mdash; All rights
	reserved. |
	<a href="/privacy">Privacy Policy</a> |
	<a href="/terms">Terms of Service</a>
</footer>
