<!-- @format -->

<header class="liquid-glass" id="main-header">
	<div class="header-actions">
		<% if (!user) { %>
			<%/* Stage 1: not logged in */%>
			<% if (currentPage !== 'Gallery') { %>
			<a href="/gallery" class="liquid-glass button-link" id="galleryBtn">
				<span class="carved-glass">Gallery</span>
			</a>
			<% } %>
			<% if (currentPage !== 'signup') { %>
			<a href="/login/signup" class="liquid-glass button-link" id="signupBtn">
				<span class="carved-glass">Sign Up</span>
			</a>
			<% } %>
			<% if (currentPage !== 'login') { %>
			<a href="/login" class="liquid-glass button-link" id="loginBtn">
				<span class="carved-glass">Login</span>
			</a>
			<% } %>
		<% } else { %>
			<%/* Stage 3: logged in, has sculpture */%>
			<a href="/logout" class="liquid-glass button-link" id="logoutBtn">
				<span class="carved-glass">Log Out</span>
			</a>
			<% if (currentPage === 'Vault') { %>
			<a href="/gallery" class="liquid-glass button-link">
				<span class="carved-glass">Gallery</span>
			</a>
			<% } else { %>
			<a href="/vault" class="liquid-glass button-link">
				<span class="carved-glass">Vault</span>
			</a>
			<% } %>
		<% } %>
	</div>
	<h1 class="embossed-glass"><%= currentPage %></h1>
</header>
