<!-- @format -->

<header class="glass">
	<div class="header-actions">
		<button class="glass menu-button" aria-label="Toggle Navigation">
			<i class="carved-glass fa-solid fa-bars" aria-label="Toggle Navigation"></i>
		</button>
		<a href="/login/signup" class="glass button-link" id="signupBtn">
			<span class="carved-glass">Sign Up</span>
		</a>
		<a href="/login" class="glass button-link" id="loginBtn">
			<span class="carved-glass">Login</span>
		</a>
	</div>
	<h1 class="carved-glass">Template App</h1>
</header>
