<!-- @format -->

<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
	integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
	crossorigin="anonymous"
	referrerpolicy="no-referrer" />

<header class="liquid-glass" id="main-header">
	<div class="header-actions">
		<% if (!user) { %>
			<%/* Stage 1: not logged in */%>
			<% if (currentPage !== 'signup') { %>
			<a href="/login/signup" class="liquid-glass button-link" id="signupBtn">
				<span class="carved-glass">Sign Up</span>
			</a>
			<% } %>
			<% if (currentPage !== 'login') { %>
			<a href="/login" class="liquid-glass button-link" id="loginBtn">
				<span class="carved-glass">Login</span>
			</a>
			<% } %>
		<% } else { %>
			<%/* Stage 3: logged in, has sculpture */%>
			<a href="/logout" class="liquid-glass button-link" id="logoutBtn">
				<span class="carved-glass">Log Out</span>
			</a>
			<% if (currentPage === 'shards' || currentPage === 'Mosaic') { %>
			<a href="/" class="liquid-glass button-link">
				<span class="carved-glass">Home</span>
			</a>
			<% } else { %>
			<a href="/shards" class="liquid-glass button-link">
				<span class="carved-glass">Mosaic</span>
			</a>
			<% } %>
		<% } %>
	</div>
	<h1 class="embossed-glass"><%= currentPage %></h1>
</header>
