<!-- @format -->

<form class="glass" action="/login" method="POST" autocomplete="on">
	<input class="glass" type="email" name="email" id="login-email" placeholder="Email" required autocomplete="username" />
	<input class="glass" type="password" name="password" id="login-password" placeholder="Password" required autocomplete="current-password" />
	<button class="glass button-link" type="submit">
		<span class="carved-glass">Login</span>
	</button>
</form>
