<!-- @format -->

<ul>
	<% shards.forEach(shard => { %>
	<li>
		<p><%= shard.text %></p>
		<button class="edit-button" data-id="<%= shard.id %>">Edit</button>
		<button class="delete-button" data-id="<%= shard.id %>">Delete</button>
	</li>
	<% }) %>
</ul>
