<!-- @format -->

<form action="/login/signup" method="POST">
	<div class="form-input-container">
		<input class="glass" id="userName" name="name" type="text" required placeholder="New User Name" />
		<input class="glass" id="userPassword" name="password" type="password" required placeholder="New User Password" />
		<input class="glass" id="userEmail" name="email" type="email" required placeholder="New User Email" />
	</div>
	<button class="glass" type="submit"><span class="carved-glass">Sign Up</span></button>
</form>
