<!-- @format -->

<ul class="user-list">
	<% if (users && users.length > 0) { %> <% users.forEach(function(user) { %>
	<li><%= user.name %>  <%= user.email %></li>
	<% }) %> <% } else { %>
	<li>No users found.</li>
	<% } %>
</ul>
