<!-- @format -->

<main class="glass">
	<section>
		<h2>Welcome, <%= user.name %>!</h2>
		<p>Your email: <%= user.email %></p>
		<p>
			This is a paragraph.<br />
			Hope you enjoy!
		</p>
	</section>
	<section>
		<h2>Heading</h2>
		<ul>
			<li>Dummy item 1</li>
			<li>Dummy item 2</li>
			<li>Dummy item 3</li>
		</ul>
	</section>
</main>
