<!-- @format -->

<main class="liquid-glass">
	<section>
		<% if (!user) { %>
		<p style="display: flex; flex-direction: column; text-align: center; margin-bottom: var(--padding); color: rgba(var(--text-color), 0.8); gap: 1rem;">
			Explore sculptures created by our community. 
			<a href="/signup" class="liquid-glass button-link">
				<span class="carved-glass">Create Your Own</span>
			</a>
		</p>
		<% } %>
	</section>
</main>
<div id="sculpture-feed"></div>
<script type="module" src="/index.js"></script>