<!-- @format -->

<main class="glass shards-section">
	<section id="shard-list">
		<h2>Your Shards</h2>
		<div>
			<% shards.forEach(shard => { %>
			<div>
				<h3><%= shard.text %></h3>
				<button class="edit-button" data-id="<%= shard.id %>">Edit</button>
				<button class="delete-button" data-id="<%= shard.id %>">Delete</button>
			</div>
			<% }) %>
		</div>
	</section>
	<section id="shard-form">
		<h2>Create New Shard</h2>
		<form action="/shards" method="POST">
			<input class="glass" type="text" name="text" placeholder="Text" required />
			<button class="glass" type="submit">Create Shard</button>
		</form>
	</section>
</main>
