<!-- @format -->

<main class="glass shards-section">
	<section id="shard-list">
		<h2>Your Shards</h2>
		<div id="shards-list-container"><%- include('partials/shardsList', { shards }) %></div>
	</section>
	<section>
		<h2>Create New Shard</h2>
		<form id="shard-creation-form" class="glass">
			<input class="glass" type="text" name="text" placeholder="Text" required />
			<input class="glass" type="number" name="tint" placeholder="Tint" required />
			<input class="glass" type="number" name="glow" placeholder="Glow" required />
			<button class="glass" type="submit"><span class="carved-glass">Create</span></button>
		</form>
	</section>
</main>
