<!-- @format -->

<main class="glass shards-section">
	<section id="shard-list">
		<h2>Your Shards</h2>
		<div class="shard-list">
			<% shards.forEach(shard => { %>
			<div class="shard-list-item">
				<h3 class="glass shard-text"><span class="embossed-glass"><%= shard.text %></span></h3>
				<div class="list-actions">
					<button class="edit-button glass" data-id="<%= shard.id %>"><span class="carved-glass">Edit</span></button>
					<button class="delete-button glass" data-id="<%= shard.id %>"><span class="carved-glass">Delete</span></button>
				</div>
			</div>
			<% }) %>
		</div>
	</section>
	<section id="shard-form">
		<h2>Create New Shard</h2>
		<form action="/shards" method="POST">
			<input class="glass" type="text" name="text" placeholder="Text" required />
			<button class="glass" type="submit"><span class="carved-glass">Create</span></button>
		</form>
	</section>
</main>
