/**
 * ************************************************
 *   
 *   THIS FILE IS GENERALLY ORGANIZED BY ELEMENT TYPE EXCEPT FOR THE FOLLOWING:
 *   
 *   GLOBAL RESETS
 *   TYPOGRAPHY
 *   TRANSITIONS AND TRANSFORMSf
 *   REPEATED EFFECTS E.G. GLASS
 *   Z-INDEX
 *   
 * ***********************************************
 *
 * @format
 */
/* ----------------------------------------------------------------------------------------------------*/
/* #region MARK: Root Variables */
/* ----------------------------------------------------------------------------------------------------*/

:root {
	/* Colors */
	--glass-rgb: 200, 200, 200, 0.15;
	--highlight-rgb: 200, 200, 200, 0.3;
	--border-rgb: 255, 255, 255, 1;
	--shadow-rgb: 0, 0, 0, 0.35;
	--btn-rgb: 200, 200, 200, 0.1;
	--input-border-rgb: 255, 255, 255, 1;
	--input-focus-rgb: 255, 255, 255, 1;
	--input-bg-rgb: 255, 255, 255, 1;
	--input-shadow-rgb: 0, 0, 0, 1;
	--text-color: 255, 255, 255, 0.5;
	/* Dimensions */
	--radius: 16px;
	--padding: 3rem;
	--nav-popup-height: 100vh;
	--nav-popup-width: 16rem;
	--nav-popup-yoffset: var(--header-height);
	--header-height: 8rem;
	--footer-height: 6rem;
	/* Animations */
	--transition-fast: 0.6s;
	--transition-slow: 2s;
	--big-bezier: 0.8, -0.2, 0.2, 1.2;
	--small-bezier: 0.2, 1.5, 0.6, 1.2;
	/* Z-axis */
	--glass-thickness: 8px;
	--glass-thickness-button: 3px;
	--hover-distance: 8px;
	--pressed-offset: Calc(var(--glass-thickness) - var(--glass-thickness-button));
	--hover-distance-unpressed: Calc(var(--hover-distance) + var(--glass-thickness) - var(--glass-thickness-button));
	--hover-distance-pressed: Calc(var(--hover-distance-unpressed) - var(--pressed-offset));
	/* Other */
	--blur: 5px;
}
/*#endregion*/

/* ----------------------------------------------------------------------------------------------------*/
/* #region MARK: Global Reset */
/* ----------------------------------------------------------------------------------------------------*/
* {
	color: rgba(var(--text-color));
	font-family: "Segoe UI", Arial, sans-serif;
	padding: 0;
	box-sizing: border-box;
	margin: 0px;
}

html {
	overflow-x: hidden;
	overflow-y: scroll;
}

a {
	text-decoration: none;
}

*::placeholder {
	opacity: 0.75;
	color: rgba(var(--text-color));
}

.hidden {
	display: none !important;
}
/* #endregion */

/* ----------------------------------------------------------------------------------------------------*/
/* #region MARK: Body and Background */
/* ----------------------------------------------------------------------------------------------------*/
body {
	padding: var(--padding);
	padding-top: Calc(var(--padding) + var(--header-height));
	padding-bottom: Calc(var(--padding) + var(--footer-height));
	position: relative;
	min-height: 100vh;
	transition: transform 0.3s cubic-bezier(var(--big-bezier));
	display: flex;
	flex-direction: column;
}

#bgImage {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -10;
	background: url("/background_bluemountains_2.png") center center / cover no-repeat;
}
#bg-video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	z-index: -2;
	pointer-events: none;
}
/* #endregion */

/* ----------------------------------------------------------------------------------------------------*/
/* #region MARK: Glassmorphism Utility */
/* ----------------------------------------------------------------------------------------------------*/
.glass {
	border-radius: var(--radius);
	box-shadow: 
			/* big shadow underneath */ Calc(-1 * (var(--hover-distance) + var(--glass-thickness)))
			Calc(var(--hover-distance) + var(--glass-thickness)) var(--blur) rgba(var(--shadow-rgb)),
		/* top */ inset 0px 1px 1px 0px rgba(255, 255, 255, 0.8), /* right */ inset -1px 0px 1px 0px rgba(255, 255, 255, 0.8),
		/* bottom */ inset 3px 0px 3px 0px rgba(255, 255, 255, 0.1), /* left */ inset 0px -3px 3px 0px rgba(255, 255, 255, 0.1),
		/* top right thickened edge */ inset calc(-1 * var(--glass-thickness)) var(--glass-thickness) 4px 0px rgba(200, 200, 200, 0.25),
		/* bottom left thickened edge */ calc(-1 * var(--glass-thickness)) var(--glass-thickness) 0px 0px rgba(220, 220, 220, 0.25);
	backdrop-filter: blur(var(--blur));
	-webkit-backdrop-filter: blur(var(--blur));
	background: 
		/* linear-gradient(
		150deg,
		rgba(var(--glass-rgb)) 10%,
		rgba(var(--highlight-rgb)) 15%,
		rgba(var(--glass-rgb)) 20%,
		rgba(var(--glass-rgb)) 35%,
		rgba(var(--highlight-rgb)) 45%,
		rgba(var(--glass-rgb)) 50%,
		rgba(var(--glass-rgb)) 65%,
		rgba(var(--highlight-rgb)) 75%,
		rgba(var(--glass-rgb)) 80%
	),  */ rgba(
		var(--glass-rgb)
	);
	background-attachment: fixed;
	background-position: fixed;
	background-size: 100vw 100vh;
}

.carved-glass {
	filter: url(#glassCarveBevel);
	opacity: 1;
}

.embossed-glass {
	filter: url(#glassEmboss);
	opacity: 1;
}
/* #endregion */

/* ----------------------------------------------------------------------------------------------------*/
/* #region MARK: Header, Main, and Footer */
/* ----------------------------------------------------------------------------------------------------*/
header {
	position: fixed !important;
	height: var(--header-height);
	top: var(--padding);
	left: var(--padding);
	right: var(--padding);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--padding);
}

.menu-button i {
	color: rgba(var(--text-color));
	font-size: 2rem;
	/* text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); */
}

.menu-button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	position: relative;
}

.menu-button:hover {
	background: rgba(255, 255, 255, 0.1);
}

.nav-popup {
	position: fixed;
	display: flex;
	flex-direction: column;
	height: var(--nav-popup-height);
	min-width: var(--nav-popup-width);
	padding: var(--padding);
	pointer-events: none;
	transform: translateY(calc(-1 * (var(--header-height) + var(--nav-popup-height) + var(--padding) + var(--glass-thickness))));
	transition: transform var(--transition-slow) cubic-bezier(var(--big-bezier));
	transition-delay: var(--transition-fast);
	gap: var(--glass-thickness);
}

.nav-popup .button-link {
	display: block;
	font-size: 1.15rem;
}

.nav-popup .button-link:hover {
	background: rgba(255, 255, 255, 0.1);
}

main {
	padding: var(--padding);
	animation: main-slide-in var(--transition-fast) cubic-bezier(var(--big-bezier)) 0s 1;
	position: relative;
}

footer {
	position: fixed !important;
	bottom: var(--padding);
	left: var(--padding);
	right: var(--padding);
	padding: var(--padding);
	max-height: calc(var(--padding));
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-actions {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
}
/* #endregion */

/* ----------------------------------------------------------------------------------------------------*/
/* #region MARK: Forms & Inputs */
/* ----------------------------------------------------------------------------------------------------*/
form {
	display: flex;
	flex-direction: row;
	padding: var(--padding);
	gap: var(--glass-thickness);
}

input,
textarea {
	width: 100%;
	padding: 0.8rem;
	outline: none;
	border: none;
}

input:focus,
textarea:focus {
	border: none;
	outline: none;
}

button,
.button-link {
	position: relative;
	background: rgba(var(--btn-rgb));
	border: none;
	padding: 0.7rem 1.5rem;
	cursor: pointer;
	font-weight: 600;
	text-transform: uppercase;
}

button:hover,
.button-link:hover {
	background: rgba(255, 255, 255, 0.1);
}
/* #endregion */

/* ----------------------------------------------------------------------------------------------------*/
/* #region MARK: Typography */
/* ----------------------------------------------------------------------------------------------------*/
h1 {
	font-size: 4rem;
}

h2 {
	font-size: 2rem;
}

p {
	line-height: 1.7;
	margin-bottom: 1.2rem;
}

ul,
ol {
	margin-bottom: 1.5rem;
}
/* #endregion */

/* ----------------------------------------------------------------------------------------------------*/
/* #region MARK: Animation and Transition */
/* ----------------------------------------------------------------------------------------------------*/
main {
	transition: transform var(--transition-slow) cubic-bezier(var(--big-bezier));
}

main.slide-right {
	transform: translateX(var(--nav-popup-width));
}

main.slide-left {
	transform: translateX(-120vw);
}

header,
footer {
	transition: transform 0.3s cubic-bezier(var(--small-bezier));
}

.menu-button {
	transition: background var(--transition-fast);
}

.nav-popup.active {
	pointer-events: auto;
	transform: translateY(0);
	transition-delay: var(--transition-fast);
}

input,
textarea {
	transition: border var(--transition-fast);
}

button,
.button-link {
	transition: background var(--transition-fast), transform 0.3s cubic-bezier(var(--small-bezier)), box-shadow 0.3s cubic-bezier(var(--small-bezier));
}

@keyframes main-slide-in {
	from {
		transform: translateX(110%);
	}
	to {
		transform: translateX(0);
	}
}
/* #endregion */

/* ----------------------------------------------------------------------------------------------------*/
/* #region MARK: Z Axis */
/* ----------------------------------------------------------------------------------------------------*/
.shifted-up {
	transform: translateX(Calc(var(--glass-thickness) + var(--hover-distance)))
		translateY(Calc(-1 * (var(--glass-thickness) + var(--hover-distance))));
}

.shifted-down {
	transform: translateX(Calc(-1 * (var(--glass-thickness) + var(--hover-distance))))
		translateY(Calc(var(--glass-thickness) + var(--hover-distance)));
}

button,
.button-link {
	--glass-thickness: var(--glass-thickness-button);
	--hover-distance: var(--hover-distance-unpressed);
}

.button-pressed,
.button-link.button-pressed {
	transform: translate(Calc(-1 * var(--pressed-offset)), Calc(var(--pressed-offset)));
	--hover-distance: var(--hover-distance-pressed);
}

.nav-popup {
	z-index: 3;
}

header.shifted-up {
	z-index: 2;
}

footer {
	z-index: 2;
}

main {
	z-index: 1;
}

header {
	z-index: 0;
}

footer.shifted-down {
	z-index: 0;
}

body {
	z-index: -1;
}

body {
	z-index: -1;
}
/* #endregion */
