/* .contact-section {
    background: rgba(255,255,255,0.28);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.10);
    border-radius: 24px;
    border: 1.5px solid rgba(255,255,255,0.22);
    margin: 2vw 0 2vw 0;
    margin-bottom: 2em;
    padding: 2em 2em 1.5em 2em;
} */
